.entete {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.tete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.gauche {
  font-weight: 700;
  font-size: 2rem;
  color: #007bff;
  letter-spacing: 1px;
  transition: color 0.3s;
  margin-left: 50px;
}
.gauche span {
  color: #00c2a8;
}

.gauche:hover {
  color: #00c2a8;
}

.navig {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-right: 30px;
}

.navig a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  Transition : all 0.3s ease ;
  font-size: 1.5rem;

}

.navig a:hover {
  color: #007bff;
  border-bottom: 2px solid #3498db;
  transform: translateY(-1px);
  box-shadow: 0 10px 15 px rgba(0,0,0,0.15);
}
.navig a.active {
    color: #3498db;
    border-bottom: 2px solid #3498db;
}
.menu {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}



/* LE PIED DE PAGE */

.pied {
  display: flex;
  flex-direction: column ;
  background-color: #041f30;
}
.dls {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.courte_description , .navigation , .sociaux {
  background-color: #041f30;
  color: white;
  padding: 20px;
}
.courte_description h2 {
  font-size: 2rem;
  margin-bottom: 15px;  
}
.filiere {
  font-size: 1.1rem;
}
.auteur {
  padding: 20px;
  color: white;
  text-align: center ;
  font-size: 1.2rem;
}
.lien a i {
  color: #ded6d6;
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.lien a i:hover {
  color: #3498db;
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.navigation  {
  display: flex;
  flex-direction: column ;
  gap: 10px;
  padding: 10px ;
  width: 200px; 
  font-size: 1.5rem;
}
.navigation a {
  text-decoration: none;
  color: #8c8787;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s, transform 0.5s ease, box-shadow 0.5s ease;
}
.navigation h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.navigation a:hover {
  color: #3498db;
  transform: translateX(8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.sociaux h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}



@media (max-width: 720px){
  
  .menu {
    display: block;
  }
  .navig {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #c0c4d6;
    flex-direction: column;
    width: 150px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transform: translateY(-30px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    align-items: flex-end;
  }

  .navig a {
    font-size: 1.1rem;

  }
  .navig.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .dls {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  .courte_description {
    padding-left: 0;
  }
}